.font {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: black;
}
.font h1 {
  font-size: 2.1rem;
  font-weight: 500;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input input {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid grey;
  color: black;
  padding-left: 0.3rem;
}
.login-btn {
  height: 40px;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: royalblue;
  cursor: pointer;
}
.font p {
  text-align: center;
  font-size: 0.9rem;
}
.font p span {
  color: royalblue;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

/* -------Login------------- */

.Login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
}
.Login h1 {
  font-size: 2.1rem;
  font-weight: 500;
}
.Login p {
  text-align: center;
  font-size: 0.9rem;
}
.Login p span {
  color: royalblue;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
